@charset "utf-8";

@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

#ticketFilters {
    .box-header {
        .box-tools {
            > .btn {
                margin-left: 7px;
                padding: 0 10px !important;
                min-width: auto !important;
                &:first-child {
                    margin-left: 0;
                }
                .tooltip-inner {
                    padding: 0px 10px;
                    @extend %fs12;
                }
                img {
                    margin: 0;
                }
            }
        }
    }
}